@import 'nullstyle.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text{
        position: absolute;
        text-transform: uppercase;
        color: #fff;
        transform: translateX(-15px);
        text-shadow: 5px 6px black, 6px 6px black;
        font-size: 55px;
        font-family: 'Montserrat', sans-serif;
        margin-right: 10px;
        z-index: 4;
        display: flex;
    }

    &__bg{
        position: absolute;
        background-color: #000;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.main {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 70%;
    z-index: 1;
    transform: translate(-50%, -50%);
    background: rgba($color: #656565, $alpha: .4);
    opacity: 0;
}

.parallax {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(23, 3, 3);

    &__leyer {
        position: absolute;
        top: -2%;
        left: -5%;
        width: 110%;
        height: 110%;
    }
}

#parallax-leyer-1{
    z-index: 1;
    background: url('../images/layer1.png') no-repeat center center / cover;
}

#parallax-leyer-2{
    z-index: 2;
    background: url('../images/layer2.png') no-repeat center center / cover;
}

#parallax-leyer-3{
    z-index: 8;
    background: url('../images/layer3.png') no-repeat center center / cover;
}

#parallax-leyer-4{
    background: url('../images/layer4.png') no-repeat center center / cover;
    z-index: 1;
}